.activated .chrome-tabs.chrome-tabs-dark-theme {
  background: linear-gradient(#1E2022, #1E1E1E);
  box-shadow: 0 0.05em #282828;
}
.deactivated .chrome-tabs.chrome-tabs-dark-theme {
  background: #1E1E1E;
  box-shadow: 0 0.05em #282828;
}
.activated .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-bar {
  background: #505050;
  box-shadow: 0 -0.05em rgba(0,0,0,0.5);
}
.deactivated .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-bar {
  background: #2D2D2D;
  box-shadow: 0 -0.05em rgba(0,0,0,0.5);
}

.chrome-tabs.chrome-tabs-dark-theme input[type="text"] {
  background: #616161;
  -webkit-box-shadow: #3D3D3D 0px 0 1px;
  color: white;
}

.chrome-tabs.chrome-tabs-dark-theme input[type="text"]:focus {
  box-sizing: border-box;
  -webkit-box-shadow: #7DACF4 0 0 0 1px;
}

.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
  stroke: rgba(0,0,0,0.5);
}
.activated .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: #373737;
}
.deactivated .chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: #282828;
}
.activated .chrome-tabs.chrome-tabs-dark-theme .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
  fill: #505050;
}
.deactivated .chrome-tabs.chrome-tabs-dark-theme .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
  fill: #2D2D2D;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-title {
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close:not(:hover) {
  color: #cfcfcf;
}

.activated .chrome-tabs.chrome-tabs-dark-theme .chrome-tabs-settings {
  background: white;
}

.deactivated .chrome-tabs.chrome-tabs-dark-theme .chrome-tabs-settings {
  background: #dcdcdc;
}

.chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-button:hover {
  background: #666666;
}

.chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-button:active {
  background: #797979;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-back, .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-forward, .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-stop, .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-refresh, .chrome-tabs.chrome-tabs-dark-theme .chrome-navigate-home {
  background: #dcdcdc;
}