body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.chrome-tabs {
    z-index: 1;
    height: 5.2em !important;
    border-radius: 0 !important;
    /*-webkit-app-region: drag;*/
    padding-left: 0.8em !important;
}

.darwin .chrome-tabs {
    height: 7.4em !important;
    padding-top: 0.9em !important;
}

.darwin .chrome-navigate-bar {
    height: 3.75em !important;
}

.chrome-tabs-drag-region {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 3px;
    -webkit-app-region: drag;
    z-index: 0;
}


.chrome-tabs-content {
    margin-top: 10px !important;
    -webkit-user-select: none; 
}

.darwin .chrome-tabs-content {
    margin-top: 0px !important;
    margin-left: 64px !important;
}

.chrome-tabs .chrome-tabs-content {
    width: calc(100% - 120px) !important;
}

.darwin .chrome-tabs .chrome-tabs-content {
    width: calc(100% - 80px) !important;
}
.chrome-tabs-content, .chrome-navigate-bar {
    /*-webkit-app-region: no-drag;*/
}

.chrome-tabs-content {
    -webkit-app-region: drag;
}

 .chrome-navigate-bar {
    -webkit-user-drag: none;
 }

.chrome-tab-background, .chrome-navigate-bar, .wc-box {
    -webkit-app-region: no-drag;
}

.chrome-tab-id, .chrome-tab-site {
    display: none;
}

.chrome-tab-close {
    display: none;
}

.chrome-navigate-button {
    margin: 6px 0 6px 6px;
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 2px;
    overflow: visible;
}

.chrome-navigate-address {
    overflow: hidden;
}

.chrome-navigate-address input[type="text"] {
    -webkit-appearance: none;
    border-width: 0px;
    padding: 0px 0px 2px 8px;
    width: calc(100% - 15px);
    height: 1.85em;
    font-size: 1.4em;
    margin: 0.4em 0.6em 0.4em 0.6em;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
}

.chrome-tabs-right {
    display: inline-block;
    right: 8px;
    top: 8px;
    position: absolute;
    height: 20px;
    width: 20px;
}

.chrome-tabs-settings {
    -webkit-mask-image: url(./../svg/settings.svg);
    -webkit-mask-size: cover;
    height: 100%;
    width: 100%;
}

.chrome-navigate-back {
    -webkit-mask-image: url(../svg/back.svg);
    -webkit-mask-size: 24px, auto, cover;
    width: inherit;
    height: inherit;
}

.chrome-navigate-forward {
    -webkit-mask-image: url(../svg/forward.svg);
    -webkit-mask-size: 24px, auto, cover;
    width: inherit;
    height: inherit;
}

.chrome-navigate-stop {
    -webkit-mask-image: url(../svg/stop.svg);
    -webkit-mask-size: 24px, auto, cover;
    width: inherit;
    height: inherit;
}

.chrome-navigate-refresh {
    -webkit-mask-image: url(../svg/refresh.svg);
    -webkit-mask-size: 24px, auto, cover;
    width: inherit;
    height: inherit;
}

.chrome-navigate-home {
    -webkit-mask-image: url(../svg/home.svg);
    -webkit-mask-size: 24px, auto, cover;
    width: inherit;
    height: inherit;
}

.wc-box {
    position: absolute;
    /*top: calc(50% - 15px);*/
    /*right: calc(50% - 45px);*/
    right: 0;
    top: 0;
}

.darwin .wc-box {
    display: none;
}

.wc-box div {
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
}

.wc-box div:before,
.wc-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.wc-box #minimize_btn:before {
    border-bottom-width: 2px;
}

.wc-box #maximize_btn:before {
    border-width: 1px 1px 2px 1px;
}

.wc-box #close_btn:before,
.wc-box #close_btn:after {
    bottom: 50%;
    top: 50%;
}

.wc-box #close_btn:before {
    transform: rotate(45deg);
}

.wc-box #close_btn:after {
    transform: rotate(-45deg);
}

.wc-box div:hover {
    background-color: #CCCCCC;
}

.wc-box #close_btn:hover {
    background-color: #E04343;
}

.wc-box div:hover:after,
.wc-box div:hover:before {
    border-color: #333333;
}

.wc-box #close_btn:hover:after,
.wc-box #close_btn:hover:before {
    border-color: #FFFFFF;
}

.bottom-menu {
    bottom: 0px;
    position: absolute;
    width: calc(100% - 10px);
    padding: 3px 10px 3px 0px;
    overflow: hidden;
    font-size: 0.75em;
    text-align: right;
    pointer-events: none;
    cursor: default;
}

#wv-collect > webview {
    height: calc(100% - 74px - 22px);
    top: 74px;
    z-index: 0;
    position: absolute;
    width: 100%;
}

.hidden {
    display: none;
}